<div class = 'container'>
  <div class = 'row'>
    <div class = "mx-auto col-8 mt-3">
      <h1>プロフィール編集</h1>

      <%= form_with model: @customer do |f| %>
      <%= render 'layouts/errors', obj: @customer %>

        <div class = "form-group mb-3" >
          <%= f.label :ユーザーネーム %>
          <%= f.text_field :nickname, autofocus: true, id:"inputNickname", class: 'form-control' %>
        </div>

        <div class = "form-group">
          <%= f.label :プロフィール画像 %><br>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>

        <div class = "form-group">
          <%= f.label :プロフィール %>
          <%= f.text_area :introduction, autofocus: true, id: "inputIntroduction", class: 'form-control' %>
        </div>

        <div class = 'd-flex justify-content-center my-3'>
          <%= f.submit "変更を保存", class: 'btn btn-success' %>
        </div>

        <h5>退会を希望の方は<%= link_to "こちら", quit_path %>をクリックしてください。</h5>

      <% end %>
    </div>
  </div>
</div>