<div class='container'>
  <div class='mt-3'>
    <div>
      <%= image_tag @customer.get_profile_image(70, 70) %>
      <% if @customer == current_customer %>
        <%= link_to "編集する", edit_customer_path, class: "btn btn-success btn-sm ml-5" %>
      <% end %>
    </div>
    <table class="table" >
      <tbody>
        <tr>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <td><%= @customer.introduction %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <h3 class='mb-2'><%= @customer.nickname %>さんの投稿一覧</h3>
      <table class="table table-hover table-inverse" >
          <thead>
              <tr class="table-secondary">
                <th></th>
                <th scope="col" style="width:10%">タイトル</th>
                <th scope="col" style="width:25%">感想</th>
                <th scope="col" style="width:10%">タグ</th>
                <th scope="col" style="width:30%">評価</th>
                <th scope="col" style="width:15%">コメント</th>
                <th scope="col" style="width:10%">いいね</th>
              </tr>
          </thead>
          <tbody>
            <% @cooks.each do |cook| %>
              <tr>
                <td><%= image_tag @customer.get_profile_image(70,70) %></td>
                <td>
                  <%= cook.title %><br>
                  <%= link_to '詳細', cook_path(cook), class: "cook_#{cook.id} btn btn-success btn-sm mt-3" %>
                </td>
                <td><%= cook.body %></td>
                <td><%= cook.tag %></td>
                <td><%= render "public/cooks/rate", cook: cook %></td>
                <td><%= cook.cook_comments.count %>件</td>
                <td id='favorite_btn_<%= cook.id %>'><%= render "public/favorites/btn", cook: cook %></td>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @cooks %>
      </div>
    </div>
  </div>
</div>


