
<div>
  <%= image_tag @customer.get_profile_image(100, 100) %>
</div>

<table class = "table" >
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @customer.nickname %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @customer.introduction %></th>
    </tr>
  </tbody>
</table>

<% if @customer == current_customer %>
  <%= link_to "編集する", edit_customer_path %>
<% end %>





<h5>投稿フォーム</h5>


  <%= render 'public/cooks/form', cook: @cook %>

<h1><%= @customer.nickname %>さんの投稿一覧</h1>
<table class = "table table-hover table-inverse" >
    <thead>
        <tr>
            <th></th>
            <th>タイトル</th>
            <th>感想</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
    <% @cooks.each do |cook| %>
      <tr>
        <td>
          <%= link_to customer_path(@customer.id) do %>
              <%= image_tag @customer.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td>
          <span><%= link_to cook.title, "/cooks/#{cook.id}" %></span>
        </td>
        <td>
          <%= cook.body %>
        </td>
        <td><%= image_tag cook.get_image, size:"350x250" %></td>
      </tr>

    <% end %>
    </tbody>
</table>