<div class = 'container'>
  <div class = 'mt-5'>
    <div>
      <div>
        <%= image_tag @customer.get_profile_image(70, 70) %>
      </div>

      <table class = "table" >
        <tbody>
          <tr>
            <th><%= @customer.nickname %></th>
          </tr>
          <tr>
            <th><%= @customer.introduction %></th>
          </tr>
        </tbody>
      </table>

      <% if @customer == current_customer %>
        <%= link_to "編集する", edit_customer_path, class: 'btn btn-success' %>
      <% end %>
    </div>

    <div>
      <h3 class = 'mb-2'><%= @customer.nickname %>さんの投稿一覧</h3>
      <table class = "table table-hover table-inverse">
          <thead>
              <tr class="table-secondary">
                  <th></th>
                  <th style = '15%'>タイトル</th>
                  <th style = '18%'>感想</th>
                  <th style = '7%'>タグ</th>
                  <th style = '15%'>評価</th>
                  <th colspan="3"></th>
              </tr>
          </thead>

          <tbody>
            <% @cooks.each do |cook| %>
              <tr class = 'cooks_index_tbody_tr' data-href= '/cooks/<%= cook.id %>'>
                <td>
                  <%= image_tag @customer.get_profile_image(70,70) %>
                </td>
                <td>
                  <%= cook.title %>
                </td>
                <td>
                  <%= cook.body %>
                </td>
                <td><%= cook.tag %></td>
                <td><%= render "public/cooks/rate", cook: cook %></td>
                <td><%= image_tag cook.get_image(100, 100) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @cooks %>
      </div>
    </div>
  </div>
</div>


