

  <%= form_with model: cook do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>感想</h4>
      <%= f.text_area :body %>


    <% if cook.id === nil %>
      <div class="form-group" id="star">
        <%= f.label :rate %>
        <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
      </div>

      <div id="post_raty"></div>
      <script>
        $(document).on('turbolinks:load', function() {
        let raty_elem = document.querySelector('#post_raty');
        raty_elem.innerHTML = ""
        let option = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'cook[rate]',
          };
        raty(raty_elem,option);
       });
      </script>

    <% end %>

    <%= f.submit '投稿' %>
  <% end %>