<div class = 'container'>
  <table class = 'table align-middle table-hover table-inverse'>
    <thead>
      <tr class = 'table-secondary' height = '50'>
        <th scope="col" style="width:50%"></th>
        <th scope="col" style="width:50%"></th>
      </tr>
    </thead>
    <tbody>
      <% cooks.each do |cook| %>
        <tr>
          <td>
            <%= link_to(cook.customer) do %>
              <%= image_tag cook.customer.get_profile_image(50, 50) %>
            <% end %>
            <%= cook.customer.nickname %><br>
            <%= cook.title %><br>
            <%= cook.body %><br>
            <%= cook.tag %><br>
            <%= render "public/cooks/rate", cook: cook %>
          </td>
          <td>
            <%= image_tag cook.get_image(150, 150) %><br>
            <%= link_to '詳細画面へ', cook_path(cook), class: "cook_#{cook.id} btn btn-success ml-3 mt-3" %>
          </td>
        </tr>
        <tr>
          <td>コメント: <%= cook.cook_comments.count %>件</td>
          <td id='favorite_btn_<%= cook.id %>'><%= render 'public/favorites/btn', cook: cook %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-5 offset-3">
    <%= paginate cooks %>
  </div>
</div>


