<div id="rate_<%= cook.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= cook.id %> = document.querySelector('#rate_<%= cook.id %>');
    rate_<%= cook.id %>.innerHTML = ""
    let option_<%= cook.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= cook.rate %>",
        readOnly: true,
      };
    raty(raty_<%= cook.id %> ,option_<%= cook.id %>);
});
</script>

