
<h4>情報を編集</h4>

<%= form_with model: @cook do |f| %>

  <h6>タイトル</h6>
    <%= f.text_field :title %>

  <h6>感想</h6>
    <%= f.text_area :body %>

  <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>

  <h4>タグ</h4>
    <%= f.text_field :name %>

  <h6>評価</h6>
  <%# レビュー機能 %>
  <%= f.hidden_field :rate, id: :review_star %>

  <div id="post_raty"></div>
  <script>

    var raty_elem = document.querySelector('#post_raty');
    raty_elem.innerHTML = ""
    var option = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'cook[rate]',
        score: <%= @cook.rate %>
      };
    raty(raty_elem,option);

  </script>


  <%= f.submit '変更を保存' %>

<% end %>

