<div class = 'container'>
  <div class = 'row'>
    <div class = "mx-auto col-8 mt-3 bg-dark">
      <h1 class = 'mt-2'><span class = 'text-light'>新規投稿を作成</span></h1>

      <%= form_with model: @cook do |f| %>
        <div class = "form-group-lg">
          <%= f.label :画像, class: 'text-light' %><br>
          <%= f.file_field :image, accept: "image/*", class: 'text-light' %>
        </div>
        <div class = "form-group-lg">
          <%= f.label :タイトル, class: 'text-light' %><br>
          <%= f.text_field :title, class: 'form-control cook_title text-light' %>
        </div>
        <div class = "form-group-lg">
          <%= f.label :感想, class: 'text-light' %><br>
          <%= f.text_area :body, class: 'form-control cook_body pb-5'  %>
        </div>
        <div class = "form-group-lg" %>
          <%= f.label :タグ, class: 'text-light' %><br>
          <%= f.text_field :name, class: 'form-control cook_name' %>
        </div>

        <% if @cook.id === nil %>
          <div class="form-group-lg" id="star">
            <%= f.label :評価, class: 'text-light' %>
            <%= f.hidden_field :rate, id: :review_star, class:"form-control" %>
          </div>

          <div id="post_raty", class = 'ml-4'></div>
          <script>
            var raty_elem = document.querySelector('#post_raty');
            raty_elem.innerHTML = ""
            var option = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'cook[rate]',
              };
            raty(raty_elem,option);
          </script>
        <% end %>
        <div class = 'd-flex justify-content-center mb-3'>
          <%= f.submit '投　稿', class: 'btn btn-primary mt-4 px-5 col-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
