
<h1>新規投稿を作成</h1>

  <%= form_with model: @cook do |f| %>
    <div class = "form-group">
      <%= f.label :画像 %><br>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class = "form-group">
      <%= f.label :タイトル %><br>
      <%= f.text_field :title, class: 'form-control cook_title' %>
    </div>
    <div class = "form-group">
      <%= f.label :感想 %><br>
      <%= f.text_area :body, class: 'form-control cook_body'%>
    </div>
    <div class = "form-group" %>
      <%= f.label :タグ %><br>
      <%= f.text_field :name, class: 'form-control cook_name' %>
    </div>

    <% if @cook.id === nil %>
      <div class="form-group" id="star">
        <%= f.label :評価 %>
        <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
      </div>

      <div id="post_raty"></div>
      <script>
        var raty_elem = document.querySelector('#post_raty');
        raty_elem.innerHTML = ""
        var option = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'cook[rate]',
          };
        raty(raty_elem,option);
      </script>

    <% end %>

    <%= f.submit '投稿' %>
  <% end %>