<div class = 'container'>
  <div class = 'row'>
    <div class = "mx-auto col-8 mt-3">
      <h3 class = 'mt-2 text-nowrap'>新規投稿</h3>
      <%# エラーメッセージ %>
      <%= render 'layouts/errors', obj: @cook %>


      <%= form_with model: @cook do |f| %>
        <div class = "form-group-lg">
          <%= f.label :画像 %><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class = "form-group-lg">
          <%= f.label :タイトル（１０字以内） %><br>
          <%= f.text_field :title, class: 'form-control cook_title ' %>
        </div>
        <div class = "form-group-lg">
          <%= f.label :感想（50字以内） %><br>
          <%= f.text_area :body, class: 'form-control cook_body pb-5'  %>
        </div>
        <div class = "form-group-lg" %>
          <%= f.label :タグ（10字以内） %><br>
          <%= f.text_field :tag, class: 'form-control cook_name' %>
        </div>

        <% if @cook.id === nil %>
          <div class="form-group-lg" id="star">
            <%= f.label :評価 %>
            <%= f.hidden_field :rate, id: :review_star, class:"form-control" %>
          </div>

          <div id="post_raty", class = 'ml-4'></div>
          <script>
            var raty_elem = document.querySelector('#post_raty');
            raty_elem.innerHTML = ""
            var option = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'cook[rate]',
              };
            raty(raty_elem,option);
          </script>
        <% end %>
        <div class = 'd-flex justify-content-center mb-3 nowrap'>
          <%= f.submit '投　稿', class: 'btn btn-primary mt-4 px-2 col-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
