
<h5>投稿情報</h5>

<table>
  <tr>
    <%= image_tag @customer.get_profile_image(100,100) %>
    <%= link_to @customer.name, "/customers/#{@customer.id}" %>
  </tr>

  <tr>
    <%= @cook.title %>
  </tr>

  <tr>
    <%= @cook.body %>
  </tr>

  <tr>
    <%= image_tag @cook.get_image, size:"350x250" %>
  </tr>

  <tr>
    <p>投稿日:<%= @cook.created_at.strftime('%Y/%m/%d') %></p>
  </tr>

  <tr>コメント数: <%= @cook.cook_comments.count %></tr>

  <tr>
    <% if @cook.customer == current_customer %>
      <%= link_to "編集する", edit_cook_path %>
      |<%= link_to "削除", cook_path(@cook), method: :delete %>
    <% end %>
  </tr>

</table>

<div id='comments_area'><%= render "public/cook_comments/index", cook: @cook, cook_coment: @cook_coment %></div>

<div id='comment_area'><%= render "public/cook_comments/form", cook: @cook, cook_comment: @cook_comment %></div>