<table class = 'table align-middle table-hover table-inverse'>
  <thead>
    <tr class = 'table-secondary'>
    </tr>
  </thead>
  <tbody>
    <% cooks.each do |cook| %>
      <tr class = 'cooks_index_table_tr' data-href= 'cooks/<%= cook.id %>'>
        <td>
          <%= link_to admin_customer_path(cook.customer) do %>
            <%= image_tag cook.customer.get_profile_image(50, 50) %>
          <% end %>
          <%= cook.customer.nickname %><br>
          <%= cook.title %><br>
          <%= cook.body %><br>
          <%= cook.tag %>
          <%= render "public/cooks/rate", cook: cook %>
          コメント: <%= cook.cook_comments.count %>
        </td>
        <td><%= image_tag cook.get_image(150, 150) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-5 offset-3">
  <%= paginate cooks %>
</div>