<div class = 'container'>
  <table  class = 'table table-hover table-inverse'>
    <thead>
      <tr class = 'table-secondary'>
        <th></th>
        <th>会員ID</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr class= 'customer_index_tbody_tr' data-href= '/admin/customers/<%= customer.id %>'>
          <td>
            <%= link_to  admin_customer_path(customer.id) do %>
              <%= image_tag customer.get_profile_image(70, 70) %>
            <% end %>
          </td>
          <td><%= customer.id %></td>
          <td><%= customer.nickname %></td>
          <td><%= customer.email %></td>
            <% if customer.is_deleted? %>
              <td>退会</td>
            <% else %>
              <td>有効</td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-5 offset-3">
    <%= paginate customers %>
  </div>
</div>