<h3>コメント一覧</h3>
<table class="table align-middle table-hover table-inverse">
  <% cook.cook_comments.each do |cook_comment| %>
    <tr>
      <td>
        <%= link_to admin_customer_path(cook_comment.customer) do %>
          <%= image_tag cook_comment.customer.get_profile_image(50, 50) %><br>
        <% end %>
      </td>
      <td><%= cook_comment.customer.nickname %></td>
      <td class = 'pl-5'><%= cook_comment.comment %></td>
      <td><%= link_to "削除", admin_cook_cook_comment_path(cook_comment.cook, cook_comment), method: :delete, remote: true, class: "btn btn-danger btn-sm text-nowrap ml-3" %></td>
    </tr>
  <% end %>
</table>
