<!DOCTYPE html>
<html>
  <head>
    <title>PiCooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'pt-5'>
    <div class= 'mt-2 pt-5'>
      <%= render 'layouts/header' %>
    </div>
    <main class: 'pt-sm-5 mt-sm-5'>
      <p id="notice"><%= notice %></p>
      <%# ログイン中にのみ検索フォームを表示 %>
      <% if admin_signed_in? || customer_signed_in? %>
        <div class="container">
          <div class="row justify-content-start mb-2">
            <div class="mr-5"><%= render 'searches/form' %></div>
            <div class="mr-3"><%= render "searches/tag_form" %></div>
            <div class="mr-3"><%= render "searches/rate_search" %></div>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
